{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load static %}

{% block content %}

    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row mb-1">
            </div>
            <div class="content-body">
                <section id="validation">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Post commodity balance.</h4>
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                                        </ul>
                                    </div>


                                    <div class="col-md-6 col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="card-body dataTables_wrapper">
                                                    <button type="button" class="btn btn-success round width-200 buttonAnimation" data-animation="rubberBand" data-toggle="modal" data-backdrop="static" data-target="#modalNewTransaction">
                                                        <i class="la la-plus"></i>Post Balance
                                                    </button>
                                                    <button type="button" class="btn btn-warning round width-200 buttonAnimation" data-animation="rubberBand" data-toggle="modal" data-backdrop="static" data-target="#modalNewMapping">
                                                        <li class="la icon-directions"></li>New Mapping
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <!-- Modal -->
                                            <div class="modal animated zoomInDown text-left" id="modalNewTransaction" tabindex="-1" role="dialog" aria-labelledby="myModalLabel70" aria-hidden="true">
                                                <div class="modal-xl modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header modal_header_bg">
                                                            <h4 class="modal-title text-white" id="myModalLabel70">Post Commodities</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">


                                                            <div class="col-md-12">
                                                                <form id="form_new_transaction"
                                                                      action="{% url "post_transactions" %}" method = "POST" >
                                                                    {% csrf_token %}

                                                                    <table>

                                                                        <div class="form-group col-md-4">
                                                                            <h6>{{ form.health_commodity_balance|as_crispy_field }}</h6>
                                                                        </div>


                                                                        <div class="form-group col-md-2">
                                                                            <h6>{{ form.quantity_available|as_crispy_field }}</h6>
                                                                        </div>


                                                                        <div class="form-group col-md-10">
                                                                            <p><b>Does this facility have patients for this commodity?</b></p>
                                                                            <fieldset>
                                                                                <div class="float-left">
                                                                                    <input type="checkbox" class="switch" id="id_has_patients" name="has_patients" data-reverse />
                                                                                </div>
                                                                            </fieldset><br />

                                                                        </div>

                                                                        <div class="form-group col-md-2 hidden" id="number_of_patients">
                                                                            <h6>{{ form.number_of_patients|as_crispy_field }}</h6>
                                                                        </div>


                                                                        <div class="form-group col-md-10">

                                                                            <button type="button" id="add_transaction" class="btn btn-glow btn-outline-success">Add Transaction</button>

                                                                        </div>


                                                                    </table>


                                                                </form>
                                                            </div>

                                                            <div class="col-md-12" id="table_transaction_holder">

                                                                {% render_table table_transaction_holder %}

                                                            </div>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                                                            <button type="button" id="post_transactions" class="btn btn-outline-primary">Save changes</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <!-- Modal -->
                                            <div class="modal animated zoomInDown text-left" id="modalNewMapping" tabindex="-1" role="dialog" aria-labelledby="myModalLabel70" aria-hidden="true">
                                                <div class="modal-lg modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header modal_header_bg">
                                                            <h4 class="modal-title text-white" id="myModalLabel70"> New Mapping</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">

                                                            <form id="form_new_mapping" action="{% url "health_commodities_balance" %}" method = "POST" >
                                                                {% csrf_token %}

                                                                <table>

                                                                    {#                                                                    {% crispy form %}#}


                                                                    <div class="col-xl-12 col-lg-12 col-md-12">

                                                                        <div class="form-group col-md-10">
                                                                            <h6>{{ form_mappings.health_facility|as_crispy_field }}</h6>
                                                                        </div>


                                                                        <div class="form-group col-md-10">
                                                                            <h6>{{ form_mappings.health_commodity|as_crispy_field }}</h6>
                                                                        </div>



                                                                        <div class="form-group col-md-10">
                                                                            <p>Does this facility manage this commodity?</p>
                                                                            <fieldset>
                                                                                <div class="float-left">
                                                                                    <input type="checkbox" class="switch" id="id_is_managed" name="is_managed" data-reverse />
                                                                                </div>
                                                                            </fieldset><br />

                                                                        </div>

                                                                        <div class="form-group col-md-10" >

                                                                            <button type="button" id="add_mapping" class="btn btn-glow btn-outline-success" data-animation="pulse">Add mapping</button>

                                                                        </div>

                                                                    </div>

                                                                </table>



                                                            </form>
                                                        </div>

                                                        <div id="table_holder" class="col-md-12">

                                                            {% render_table table_mappings %}

                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                                                            <button type="button" id="save_mappings" class="btn btn-outline-primary">Save changes</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-12" id="table_transactions">

                                    {% render_table table_transactions %}

                                </div>

                            </div>
                        </div>


                    </div>

                </section>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{% static "app-assets/vendors/js/forms/toggle/bootstrap-checkbox.min.js" %}"></script>
    {#    <!-- BEGIN: Page Vendor JS-->#}
    <script src="{% static "app-assets/vendors/js/forms/toggle/bootstrap-switch.min.js" %}"></script>
    <script src="{% static "app-assets/vendors/js/forms/toggle/switchery.min.js" %}"></script>
    <!-- END: Page Vendor JS-->

    <script>


        $('#id_is_managed').checkboxpicker();

        $('#id_has_patients').checkboxpicker();

        $("#add_mapping").on("click", function () {


            var form = $('#form_new_mapping');
            var url = form.attr('action');
            var options = document.getElementById("id_is_managed").value;

            var health_facility = document.getElementById("id_health_facility").value;
            var health_commodity = document.getElementById("id_health_commodity").value;

            if (health_facility == "")
            {
                swal("Facility not selected!", "Select a facility before proceeding!", "warning");
            }
            else
            {
                if (health_commodity == "")
                {
                    swal("Commodity not selected!", "Select a commodity before proceeding!", "warning");
                }

                else
                {

                    $.ajax({
                        type: "POST",
                        url: url,
                        data: form.serialize(), // serializes the form's elements.
                        success: function(data)
                        {

                            var mappings = data["mappings"];

                            if (mappings > 0)
                            {
                                $('#table_holder').load(location.href + ' #table_holder');

                                swal("Duplicate found.", "Mapping already exists", "warning");
                            }
                            else {

                                $('#table_holder').load(location.href + ' #table_holder');

                                $('#form_new_mapping')[0].reset();
                            }


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {


                            swal("Error!", "Mapping failed!", "error");

                        }
                    });
                }
            }


            e.preventDefault(); // avoid to execute the actual submit of the form.

        })

        $("#save_mappings").on("click", function () {
            var url = "{% url 'save_mappings' %}";


            $.ajax({
                type: "POST",
                url: url,
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'} ,
                success: function (data) {


                    $('#modalNewMapping').modal('toggle');

                    $('#table_holder').load(location.href + ' #table_holder');

                    $('#table_mappings').load(location.href + ' #table_mappings');


                    swal("Success!", "New mapping(s) saved!", "success");


                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {


                    swal("Error!", "Saving Mapping(s) failed!", "error");

                }
            });

            e.preventDefault(); // avoid to execute the actual submit of the form.


        });

        $("#id_has_patients").on('change', function (e, data) {


            $("#number_of_patients").removeClass("hidden");

        });


        $("#add_transaction").on("click", function () {

            var form = $('#form_new_transaction');
            var url = form.attr('action');


            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function(data)
                {

                    $('#form_new_transaction')[0].reset();

                    $('#table_transaction_holder').load(location.href + ' #table_transaction_holder');


                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {


                    swal("Error!", " Adding transaction(s) failed!", "error");

                }
            });

            e.preventDefault(); // avoid to execute the actual submit of the form.

        })


        $("#search_commodity").keyup(function () {

            var value = $(this).val();

            $.each($(".table tbody").find("tr"), function () {

                if ($(this).text().toLowerCase().replace(/\s+/g, '').indexOf(value.replace(/\s+/g, '').toLowerCase()) == -1)
                    $(this).hide();
                else
                    $(this).show();
            });

        })

        $("#post_transactions").on("click", function () {
            var form = $('#form_new_commodity');
            var url = "{% url 'save_transaction_lines' %}";

            $.ajax({
                type: "POST",
                url: url,
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'} ,
                success: function (data) {


                    $('#modalNewTransaction').modal('toggle');

                    $('#table_transaction_holder').load(location.href + ' #table_transaction_holder');

                    $('#table_transactions').load(location.href + ' #table_transactions');

                    swal("Success!", "Transaction(s) posted!", "success");


                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {


                    swal("Error!", " Transaction(s) failed!", "error");

                }
            });

            e.preventDefault(); // avoid to execute the actual submit of the form.

        });



        $('.btn_delete').on("click", function(event)
        {
            var id = $(this).attr('id');
            var model = "HealthCommodity";
            var app_name = "MasterDataManagement";
            var url = "{% url 'delete_item' %}";

            $.ajax({
                type: "POST",
                url: url,
                data: { item_pk: id, model: model,app_name: app_name,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'} ,

                success: function(data)
                {
                    $('#table_commodities').load(location.href + ' #table_commodities', function () {

                        $('.btn_delete').on("click", function(event)
                        {
                            var id = $(this).attr('id');
                            var model = "HealthCommodity";
                            var app_name = "MasterDataManagement";
                            var url = "{% url 'delete_item' %}";

                            $.ajax({
                                type: "POST",
                                url: url,
                                data: { item_pk: id, model: model,app_name: app_name,
                                    'csrfmiddlewaretoken': '{{ csrf_token }}'} ,

                                success: function(data)
                                {
                                    $('#table_commodities').load(location.href + ' #table_commodities');

                                    swal("Success!", "Commodity deleted!", "success");


                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {



                                    swal("Error!", "Deleting commodity failed!", "error");

                                }
                            });

                            e.preventDefault(); // avoid to execute the actual submit of the form.
                        });

                    });


                    swal("Success!", "Commodity deleted!", "success");




                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {



                    swal("Error!", "Deleting commodity failed!", "error");

                }
            });

            e.preventDefault(); // avoid to execute the actual submit of the form.
        });


        $('.btn_view').on("click", function () {

                 var id = $(this).attr('id');

                $("#popModal").load('{% url 'view_transaction_lines' 123 %}'.replace('123',id), function() {
                    $("#popModal").modal("show");
                });


        })


    </script>


{% endblock %}